.w-select{
    width: 180px;
}

.tab-content{
    padding: 0 5px 5px 5px;
}

.nav-tabs .nav-link {
    color: white;
    border: 0;
}

.nav-tabs .nav-link.active{
    background-color: #c96752;
    color: white;
}

.table-hover.active{
    color: white;
    border: solid #c96752;
}

.w-select.form-select{
    background-color: #292929;
    border: solid 1px white;
    color: white;
}

.form-select:focus{
    border: #c96752;
    box-shadow: 0 0 0 2px #db8d7b;
}

.w-select.form-select:disabled{
    color: black;
    background-color: rgb(163, 163, 163);
}

.w-url{
    max-width: 250px;
}

.w-id{
    min-width: 80px;
    max-width: 80px;
}

.w-detalle{
    min-width: 350px;
    max-width: 350px;
}