body{
    background-color:  #292929;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bajarFooter{
    flex-grow: 1;
}

.text-rojo1{
    color: #9d0105;
}

.bg-rojo1{
    background-color: #9d0105;
}

.text-rojo2{
    color: #c96752;
}

.borde-rojo2{
    border: #c96752;
    border-radius: 40%;
}

.borde-rojo3{
    border: #c96752;
}



.bg-rojo2{
    background-color: #c96752;
}

.text-rojo3{
    color: #db8d7b;
}
.text-black1{
    color: #292929;
}
.bg-rojo3{
    background-color: #db8d7b;
}

.text-rojo4{
    color: #f6d8d1;
}

.bg-rojo4{
    background-color: #f6d8d1;
}

.bg-footer{
    background-color: #292929;
}

.btn-active {
    background-color: #ffbf00;
}

.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
}
